name: variable build Python application
on: # multiple triggers when this workflow can run
 workflow_dispatch:  # manually run code
 push:
   branches:
     - master
 pull_request:
   branches:
     - master
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: Clone the repo
      uses: actions/checkout@v6
    - name: Install Python on ${{ vars.PYTHON_VERSION }} runner
      uses: actions/setup-python@v6
      with:
        python-version: ${{ vars.PYTHON_VERSION }}
    - name: Install python dependencies
      run: |
       pip install --upgrade pip
       pip install -r requirements.txt

